body {
    background-color: wheat;
}
#Title{
    text-align: center;
    font-size: 20pt;
    background-color: teal;
    color: white;
}

h2{
    text-indent: 10pt;
    text-shadow: 2px 2px snow;
}
#text{
    text-indent: 30pt;
}
img {
    position: relative;left: 100px;
}